@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-wrap {
    min-height: 100vh;
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.container {
    max-width: 1120px;
    margin: 0 auto;
}

.header-nav {
    padding: 25px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.lorem-link {
    font-weight: 300;
    font-size: 25px;
    line-height: 41px;
    transition: 0.6s;
    border: 2px solid transparent;
}

.lorem-link:hover {
    color: blueviolet;
    border-bottom: 2px solid blueviolet;
}

.nav-link {
    display: flex;
    gap: 40px;
}

.link {
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    padding-bottom: 5px;
    transition: 0.6px;
    border: 2px solid transparent;
    transition: 0.6s;
}

.link:hover {
    color: blueviolet;
    border-bottom: 2px solid blueviolet;
}

.flex-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 60px;
}

.h1 {
    max-width: 400px;
}

.h1, .bold {
    font-weight: 300;
    font-size: 55px;
    line-height: 55px;
}

.bold {
    font-weight: 700;
}

.main-text {
    max-width: 400px;
}

.main-text, .cool-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    padding-right: 19px;
}

.footer--link {
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-list {
    display: flex;
    gap: 20px;
    align-items: center;
}

.links {
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: 0.6s;
}

.links:hover {
    color: blueviolet;
    border-bottom: 2px solid blueviolet;
}

.signature{
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}

.cool {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
}

/* Gallery page */









